<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{% block title %}Warren Orchard{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width" content="minimal-ui">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
  
  {% if mixture.debug == true  %}
    <script>window.DEBUG = true;</script>
  {% endif %}

  <!--[if (gt IE 8) | (IEMobile)]><!-->
  {{ "responsive.css" | asset_url | stylesheet_tag }}          
  <!--<![endif]-->
  <!--[if (lt IE 9) & (!IEMobile)]>
  {{ "fixed.css" | asset_url | stylesheet_tag }}
  <![endif]-->
  {% block styles %}{% endblock %}
  <script>(function(window) { document.getElementsByTagName("html")[0].className.replace("no-js", "js"); }).call(this, window);</script>
</head>
<body class="{% block body_class %}{% endblock %}">
<!--[if lt IE 8]>
<div class="chromeframe"><div class="global-width">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</div></div>
<![endif]-->

  <div class="global-wrapper" id="global-wrapper">
   
   {% block content %}{% endblock %}
    
  </div>

  {{ "utils.js" | asset_url | script_tag }}
  {{ "vendor/underscore.js" | asset_url | script_tag }}
  {{ "vendor/zepto.js" | asset_url | script_tag }}
  {{ "vendor/backbone.js" | asset_url | script_tag }}
  {{ "vendor/background-check.min.js" | asset_url | script_tag }}

  {{ "routers/app-router.js" | asset_url | script_tag }}

  {{ "views/img.js" | asset_url | script_tag }}
  {{ "views/img-loader.js" | asset_url | script_tag }}
  {{ "views/thumbnails.js" | asset_url | script_tag }}
  {{ "views/progress-bar.js" | asset_url | script_tag }}
  {{ "views/slider.js" | asset_url | script_tag }}
  {{ "views/grid.js" | asset_url | script_tag }}
  {{ "views/projectnav.js" | asset_url | script_tag }}
  {{ "views/project.js" | asset_url | script_tag }}

  {{ "views/app.js" | asset_url | script_tag }}


</body>
</html>