{% block content %} 

{% include "header"  %}

<div class="global-width" id="thumbs-container">
	
	{% collection "projects" %}

	<ul class="thumbs  grid  hide" id="thumbs">
		{% for project in collection.items  %}
			<li class="thumb" data-project-id="{{project.id}}">
				<a href="/projects/{{project.id}}/0" class="thumb-link">
					<span class="thumb-title"><h2 class="">Lorem Ipsum</h2></span>
					{% capture myimg %}/public/images/content/thumbs/{{project.title}}/{{project.images[0]}}-436x436.jpg{% endcapture %}
					{% if mixture.debug  %}
						<img data-src="{{ myimg }}" class="thumb-img  img" width="436" height="436" />
					 {% else %}
						<img data-src="{{ myimg | asset_url }}" class="thumb-img  img" width="436" height="436" />
					{% endif %}    
				</a>
			</li>
		{% endfor %}		
	</ul>
	{% endcollection %}

	
</div>
{% endblock %}

